<?xml version="1.0"?>
<config>
    <modules>
        <Sitnikov_Ukraine>
            <version>0.0.0.1</version>
        </Sitnikov_Ukraine>
    </modules>
    <global>
        <models>
            <ukraine>
                <class>Sitnikov_Ukraine_Model</class>
            </ukraine>
            <!--<ukrposhata_resource>-->
                <!--<class>Mage_Shipping_Model_Resource</class>-->
                <!--<deprecatedNode>shipping_mysql4</deprecatedNode>-->
                <!--<entities>-->
                    <!--<tablerate>-->
                        <!--<table>shipping_tablerate</table>-->
                    <!--</tablerate>-->
                <!--</entities>-->
            <!--</ukrposhata_resource>-->
        </models>
        <helpers>
            <ukraine>
                <class>Sitnikov_Ukraine_Helper</class>
            </ukraine>
        </helpers>
        <resources>
            <ukraine_setup>
                <setup>
                    <module>Sitnikov_Ukraine</module>
                </setup>
            </ukraine_setup>
        </resources>
        <blocks>
            <ukraine>
                <class>Sitnikov_Ukraine_Block</class>
            </ukraine>
        </blocks>
    </global>
    <!--<adminhtml>-->
        <!--<translate>-->
            <!--<modules>-->
                <!--<Sitnikov_ukraine>-->
                    <!--<files>-->
                        <!--<default>Sitnikov_ukraine.csv</default>-->
                    <!--</files>-->
                <!--</Sitnikov_ukraine>-->
            <!--</modules>-->
        <!--</translate>-->
    <!--</adminhtml>-->
    <frontend>
        <routers>
            <ukraine>
                <use>standard</use>
                <args>
                    <module>Sitnikov_Ukraine</module>
                    <frontName>ukraine</frontName>
                </args>
            </ukraine>
        </routers>
        <translate>
            <modules>
                <Sitnikov_Ukraine>
                    <files>
                        <default>Sitnikov_Ukraine.csv</default>
                    </files>
                </Sitnikov_Ukraine>
            </modules>
        </translate>
        <!--<routers>-->
            <!--<shipping>-->
                <!--<use>standard</use>-->
                <!--<args>-->
                    <!--<module>Mage_Shipping</module>-->
                    <!--<frontName>shipping</frontName>-->
                <!--</args>-->
            <!--</shipping>-->
        <!--</routers>-->
        <!--<layout>-->
            <!--<updates>-->
                <!--<shipping>-->
                    <!--<file>shipping.xml</file>-->
                <!--</shipping>-->
            <!--</updates>-->
        <!--</layout>-->
    </frontend>
    <default>
        <carriers>
            <ukrposhta>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <specificcountry>UA</specificcountry>
                <model>ukraine/shipping_carrier_ukrposhta</model>
                <name>ukraine</name>
                <price>5.00</price>
                <title>Укрпошта</title>
                <allowed_methods>P_O,P_D,W_S,W_R,W_D,WP_S,WP_R,WP_D</allowed_methods>
                <shipment_type>P,W,WP</shipment_type>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <calc_api_url>http://services.ukrposhta.com/CalcUtil/Calculate.aspx</calc_api_url>
                <sender_kind>LegalEntity</sender_kind>
                <transfer_type>Ground</transfer_type>
                <debug>0</debug>
                <courier>Zabir</courier>
                <declared_percent>0</declared_percent>
                <rate>1</rate>
                <relative_extra_charge>0</relative_extra_charge>
                <absolute_extra_charge>0</absolute_extra_charge>
                <showmethod>0</showmethod>
                <default_length>0</default_length>
                <default_width>0</default_width>
                <default_height>0</default_height>
                <!-- Marks -->

                <!-- c уведомлением о вручении -->
                <withHanding>0</withHanding>
                <!--хрупкая-->
                <isFragile>0</isFragile>
                <!--громоздкая-->
                <isBulky>0</isBulky>
                <!--вручить лично-->
                <handPersonally>0</handPersonally>
                <!--посыльным-->
                <withMessenger>0</withMessenger>
                <!--упаковка-->
                <packing>0</packing>
                <!--заполнение сопроводительного бланка-->
                <withForm>0</withForm>
                <!--заполнение адреса-->
                <withAddress>0</withAddress>
                <!--заполнение списка Ф.103-->
                <withF103>0</withF103>
            </ukrposhta>
        </carriers>
    </default>
</config>
